.admin-orders-container{
	padding: 20px;
	max-width: 800px;
	margin: auto;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.admin-orders-header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.add-order-button{
	padding: 10px 20px;
	background-color: #5cb85c;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.add-order-button:hover{
	background-color: #4cae4c;
}

.order-search-input{
	padding: 8px;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.orders-list{
	margin-bottom: 20px;
}

.order-item{
	padding: 10px;
	background-color: #f9f9f9;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	margin-bottom: 8px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.order-item:hover{
	background-color: #e9e9e9;
}

.no-orders-message{
	text-align: center;
	color: #777;
}

@media (max-width: 768px){
	.admin-orders-header{
		flex-direction: column;
		align-items: flex-start;
	}

	.add-order-button,
	.order-search-input{
		width: 100%;
		margin-bottom: 10px;
	}

	.orders-list{
		overflow-y: auto;
	}
}
