.search-component{
	position: relative;
	width: 250px;
}

.search-input-container{
	display: flex;
	align-items: center;
	position: relative;
}

.search-input{
	padding: 8px 30px 8px 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
}

.reset-search-button{
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #999;
	font-size: 18px;
}

.reset-search-button:hover{
	color: #666;
}
